services:
  db:
    container_name: db
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_USER: mcdonalds
      POSTGRES_PASSWORD: mcdonalds
      POSTGRES_DB: mcdonalds_menu
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  backend:
    container_name: backend
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./backend/static:/app/static

  frontend:
    container_name: frontend
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  pgdata:
