@import "tailwindcss";

@theme {
    --color-mcdonalds-red: #DA291C;
    --color-mcdonalds-yellow: #FFC72C;
    --color-transport-blue: #2563EB;
    --color-transport-light: #60A5FA;
    --color-dental-teal: #0D9488;
    --color-dental-light: #5EEAD4;
    --color-psych-purple: #7C3AED;
    --color-psych-light: #A78BFA;
}
